{%load static%}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>Hostel Management System</title>
    
    <link href="{% static 'assets/extra-libs/c3/c3.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libs/chartist/dist/chartist.min.css' %}" rel="stylesheet">
    
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">

    
    
</head>

<body>
    
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
        <header class="topbar" data-navbarbg="skin6">
            {% include 'includes/student-navigation.html'%}
        </header>
        
        <aside class="left-sidebar" data-sidebarbg="skin6">
            
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                {% include 'includes/student-sidebar.html'%}
            </div>
            
        </aside>
        
        <div class="page-wrapper">
            
            <div class="container-fluid">
                
                <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">My Profile</h4>
                </div>


                <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Last Updated On</h4>
                                        <div class="form-group">
                                            <input type="text" value="{%if user_profile.updation_date %} {{user_profile.updation_date}} {%endif%}" class="form-control" required readonly>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Registration Number</h4>
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="{{user_profile.reg_no}}" required readonly>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>


                </div>
                
                    
                    <form name="registration" onSubmit="return valid();" method="POST">
                    {%csrf_token%}
                    <div class="row">
                    
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">First Name</h4>
                                        <div class="form-group">
                                            <input type="text" name="fname" id="fname" class="form-control" value="{{request.user.first_name}}"   required="required">
                                        </div>
                                    
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Middle Name</h4>
                                        <div class="form-group">
                                            <input type="text" name="mname" id="mname" class="form-control" value="{{user_profile.middle_name}}">
                                        </div>
                                    
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Last Name</h4>
                                        <div class="form-group">
                                            <input type="text" name="lname" id="lname" class="form-control" value="{{request.user.last_name}}" required="required">
                                        </div>
                                    
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Gender</h4>
                                    <div class="form-group mb-4">
                                        <select class="custom-select mr-sm-2" id="gender" name="gender">
                                            <option value="{{user_profile.gender}}">{{user_profile.gender}}</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Email Address</h4>
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" class="form-control" value="{{request.user.email}}" readonly>
                                        </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Contact Number</h4>
                                        <div class="form-group">
                                            <input type="text" name="contact" id="contact" maxlength="10" class="form-control" value="{{user_profile.contact_no}}" required="required">
                                        </div>
                                </div>
                            </div>
                        </div>

                    
                    </div>

                        <div class="form-actions">
                            <div class="text-center">
                                <button type="submit" name="update" class="btn btn-success">Make Changes</button>
                            </div>
                        </div>

                    </form>



            </div>
            
            {%include 'includes/footer.html'%}
            
        </div>
        
    </div>
    
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'dist/js/app-style-switcher.js' %}"></script>
    <script src="{% static 'dist/js/feather.min.js' %}"></script>
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    
    <script src="{% static 'assets/extra-libs/c3/d3.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/c3/c3.min.js' %}"></script>
    <script src="{% static 'assets/libs/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/dashboards/dashboard1.min.js' %}"></script>
</body>

</html>